<h1>Merchants</h1>
<hr>
<% @merchants.each do |merchant| %>
  <section id="merchants_id_<%=merchant.id%>">
    <p>Name: <%= link_to "#{merchant.name}", "/merchants/#{merchant.id}" %></p>
  </section>
  <p>-------------------------------------</p>
<% end %>
