<h1>Merchants</h1>

<br>
<br>
<% @merchants.each do |merchant| %>
<section id="merchant-<%= merchant.id %>">
<p><%= link_to "#{merchant.name}", "/merchants/#{merchant.id}" %></p>
</section>
<% end %>
