<center> <h1 style="color:orange;"><%= @merchant.name %></h1> </center>

<h2 style="color:red;">Items:</h2>
<% @items.each do |item| %>
 <div id="merchant_items">
   <h4  style="color:green;"><%= item.name %></h4>
  </div>
<% end %>