<h1><%= @merchant.name %></h1>

<h3>This merchant's current items:</h3>
<% @items.each do |item| %>
  <section id="item-<%= item.id  %>">
  <p><%= link_to "#{item.name}", "/items/#{item.id}" %></p>
  </section>
<% end %>
