
<div class="content">
  <h1>All Items</h1>
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
      <thead>
        <tr>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
        <tr>
          <td><%= link_to "#{item.name}", item_path(item.id) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
