<section id='items' class="container d-flex justify-content-center flex-column align-items-center">
  <h1 class="text-light pb-3"><%= @item.name %>'s Information</h1>
  <div class="row'">
    <div class="col-m-8">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <strong>Description:</strong> <%= @item.description %>
            <br>
            <strong>Unit Price:</strong> <%= @item.unit_price %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>