<h1>Item Data</h1>

<p>Name: <%= @item[:data][:attributes][:name] %></p>
<p>Description: <%= @item[:data][:attributes][:description] %></p>
<p>Unit Price: <%= @item[:data][:attributes][:unit_price] %></p>