<h1><%= @item.item_name %></h1>

Description: <%= @item.item_description %><br>
Price: <%= @item.item_price %><br>
<br>
<br>

<h2>Back to <%= link_to @item.merchant_name, "/merchants/#{@item.merchant_id}" %></h2>