<nav class="navbar navbar-dark bg-dark">
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button">Home</button>
    <button class="btn btn-sm btn-outline-secondary" type="button">Merchants</button>
    <button class="btn btn-sm btn-outline-secondary" type="button">Items</button>
  </form>
</nav>
