<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Home</a>
  <a class="navbar-brand" href="/merchants">Merchants</a>
  <a class="navbar-brand" href="/items">Items</a>

  <form class="form-inline my-2 my-lg-0">
    <div class="search_bar">
      <a class="navbar=brand" <%= render 'layouts/search' %></a>
    </div>
  </form>

</nav>
